<form asp-controller="Home" asp-action="Search" method="get">
    <label for="Id">Id:</label><br />
    <input type="text" id="Id" name="Id" /><br />
    <input type="submit" value="Submit" />
</form>